.grid {
  display: grid;
  grid-template-columns: 330px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "group calendar"
    "machine calendar"
    "order calendar";
  gap: 15px;
  height: 75vh;
}

.group {
  grid-area: group;
}

.machine {
  grid-area: machine;
}

.order {
  grid-area: order;
}

.calendar {
  grid-area: calendar;
}


#scroll,
#list {
  width: 330px;
}

.item {
  display: block;
  box-sizing: border-box;
  padding: 10px 20px;
  margin-bottom: 10px;
}


.dx-draggable-source {
  opacity: 0.5;
}

.dx-draggable-dragging > * {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 6px 8px rgba(0, 0, 0, 0.2);
}

.list_of_order {
  margin-bottom: 1rem;
}

.my-tooltip {
  text-align: left;
  margin-left: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
}

.order_number {
  font-size: 15px;
}

.other_details {
  font-size: 13px;
}

.dx-field-label {
  width: 400px;
}

p-calendar {
  width: 242px;
}


.validationButton {
  margin-top: 60px;
}


/*.startDate, .endDate {
  width: 71px;
  height: 14px;
  left: 5.9px;

  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}*/
