
.middlepane {
  width: 80%;
  height: 100vh;
  margin-left: 20%;
  margin-top: -43%;
}
p{
  font-size: 20px;
  margin-left: 5%;
}
.example-tree-invisible {
  display: none;
}
p {
  letter-spacing: 1px;
  word-spacing: 0.50em;
  line-height: 25px;
  margin-left: 27px;
  margin-top: 2em;
  align-content: center;
  font-size: 15px;
  text-align: justify;
  margin-right: 5%;
}
.treeButton{
  margin-top: 3.5%;
  margin-left: 2.5%;
}
mat-tree{
  margin-left: 1%;
}
table{
  margin-left: 3%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 2px 15px rgba(64,64,64,.7);
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  margin-top: 15%;

}
td , th{
  padding: 15px 5px;
  text-align: center;
  font-size: 12px;
}

th{
  background-color: chocolate;
  color: #fafafa;
  font-family: 'Open Sans', Sans-serif, serif;
  font-weight: 200;
  text-transform: uppercase;

}
tr{
  width: 50%;
  background-color: #fafafa;
  font-family: 'Montserrat', sans-serif;
}
tr:nth-child(even){
  background-color: #eeeeee;
}

