<html>
<head><title></title>
  <meta charset="utf-8">
</head>
<body>

<app-default>

</app-default>
<div class="middlepane">

    <p>Auf dieser Seite ist es möglich, alle Abfragen in der Baumübersicht zu sehen
      und eine davon auszuwählen, um alle Informationen bezüglich dieser Anfrage
      in einer Tabelle anzuzeigen. Wenn Sie diese Informationen in einem Diagramm anzeigen lassen wollen, können Sie
      die Werte mit Hilfe der Kontrollkästchen auswählen. </p><br>
      <p class="fehler">{{errorMessage}}<strong> </strong></p>

      <div class="col-6" *ngIf="showTree && !errorMessage">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding="">
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-stroked-button color="primary" (click)="userTreeChoice(node.name); TreeShowControl()">{{node.name}}</button>
          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding="">
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>
            {{node.name}}
          </mat-tree-node>
        </mat-tree>
      </div>


  <div class="treeButton" *ngIf="showButtonforTree">
    <button mat-stroked-button color="primary" (click)="TreeShowControl()">Baum anzeigen</button>
  </div>

  <div class="DatatoDisplay" *ngIf="showDatatoDisplay">
    <table class="table1 table-hover table-sm table-bordered" *ngIf="data">
      <tr>
        <th>
          Zahnarzt-Abteilung
        </th>
        <th>
          Notfall-Abteilung
        </th>
        <th>
          Urologen-Abteilung
        </th>
        <th>
          Augenartzt-Abteilung
        </th>
        <th>
          Chirug-Abteilung
        </th>
        <th>
          Krebs-Abteilung
        </th>
        <th>
          Viren-Abteilung
        </th>
        <th>
          Tierartzt-Abteilung
        </th>
        <th>
          Pneumologie-Abteilung
        </th>
        <th>
          Paediatrie-Abteilung
        </th>

      </tr>
      <tr *ngFor="let item of data">
        <td class="vertical-align ">{{item.Zahnarzt}}
          <input type='checkbox' [checked]="checkColumn" (change)="toggleEditableColumn($event, item.Zahnarzt, 'Zahnarzt')">
        </td>
        <td class="vertical-align">{{item.Notfall}}
          <input type='checkbox' [checked]="checkColumn" (change)="toggleEditableColumn($event, item.Notfall, 'Notfall')">
        </td>
        <td class="vertical-align">{{item.Urologen}}
          <input type='checkbox' [checked]="checkColumn" (change)="toggleEditableColumn($event, item.Urologen, 'Urolgen')">
        </td>
        <td class="vertical-align ">{{item.Augenarzt}}
          <input type='checkbox' [checked]="checkColumn" (change)="toggleEditableColumn($event, item.Augenarzt, 'Augenarzt')">
        </td>
        <td class="vertical-align ">{{item.Chirug}}
          <input type='checkbox' [checked]="checkColumn" (change)="toggleEditableColumn($event, item.Chirug, 'Chirug')">
        </td>
        <td class="vertical-align ">{{item.Krebs}}
          <input type='checkbox' [checked]="checkColumn" (change)="toggleEditableColumn($event, item.Krebs, 'Krebs')">
        </td>
        <td class="vertical-align">{{item.Viren}}
          <input type='checkbox' [checked]="checkColumn" (change)="toggleEditableColumn($event, item.Viren, 'Viren')">
        </td>
        <td class="vertical-align">{{item.Tierarzt}}
          <input type='checkbox' [checked]="checkColumn" (change)="toggleEditableColumn($event, item.Tierarzt, 'Tierarzt')">
        </td>
        <td class="vertical-align ">{{item.Pneumologie}}
          <input type='checkbox' [checked]="checkColumn" (change)="toggleEditableColumn($event, item.Pneumologie, 'Pneumologie')">
        </td>
        <td class="vertical-align ">{{item.Paediatrie}}
          <input type='checkbox' [checked]="checkColumn" (change)="toggleEditableColumn($event, item.Paediatrie, 'Paediatrie')">
        </td>
      </tr>
    </table>
  </div>


  <br><br>
  <div class="general1" *ngIf="selectedLinesValue.length>0">
    <form class="ui container form" appearance="fill" [formGroup]="form">
      <h1>Konfiguration des Diagramms:</h1><br>
      <table class="DiagrammTemplate">
        <tr>
          <td class="tableforConfig">
            Name der Abfrage:
          </td>
          <td class="tableforConfig">
            {{nodeName}}
          </td>
        </tr>
        <tr>
          <td class="tableforConfig">
            Diagrammtyp*
          </td>
          <td class="tableforConfig">
            <mat-form-field appearance="fill">
              <mat-label>Bitte auswählen</mat-label>
              <mat-select formControlName="diagramType">
                <mat-option *ngFor="let typ of DiagramTyp" [value]="typ">
                  {{typ}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="tableforConfig">
            Titel des Diagramms*
          </td>
          <td class="tableforConfig">
            <mat-form-field appearance="fill">
              <mat-label>Titel eingeben</mat-label>
              <input matInput formControlName="title">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div formArrayName="selectedLinesValue"
           *ngFor="let time of form.controls.selectedLinesValue?.value; let i = index;  trackBy:trackById">
        <div [formGroupName]="i">
          <div class="field">
            <div class="field">
            </div>
            <table class="forarrayline" *ngIf="selectedLinesValue.length>0">
              <tr>
                <td class="tableforConfig">
                  Name der Zeile:
                </td>
                <td class="tableforConfig">
                  <mat-form-field appearance="fill">
                    <mat-label>Name der Zeile</mat-label>
                    <input matInput formControlName="lineName"
                           readonly>
                    <mat-hint>Nicht auszufüllen!</mat-hint>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td class="tableforConfig">
                  Farbe der Zeile*
                </td>
                <td class="tableforConfig">
                  <mat-form-field appearance="outline">
                    <mat-label>Farbe Auswahl</mat-label>
                    <mat-select formControlName="lineColor">
                      <mat-option *ngFor="let color of colors" [value]="color">{{color}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <mat-error *ngIf="!form.valid">
      </mat-error>
      <p class="fehler"><strong> {{errorMessageSend}}</strong></p>
      <button class="storeData" mat-raised-button color="primary" [disabled]="!form.valid" (click)="onSubmit(this.form)">Vorlage
        speichern
      </button>
    </form>
    </div>


</div>



</body>
</html>
