
.example-tree-invisible {
  display: none;
}

div{
  margin-left: 2px;
}

.alert-text{
  color: red;
  text-decoration-color: red;
}
.alert-text1{
  color: red;
  text-decoration-color: red;
}
.diagram-config{
  margin-left: 40px;
}
.queryname{
  color: blue;
}

.nowrap {
  white-space: nowrap ;
  color: red;
}
.calcul{
  color: blue;
}
.calcul1{
  color: red;
}
.table{
  width: 100%;
  margin-left: 20px;
}
.table-bordered1{
  border: none;
  font-size: xx-small;
}
.table-bordered{
  font-size: 12px;
}
.test{
  width:25%;
}
p {
  letter-spacing: 1px;
  word-spacing: 0.50em;
  line-height: 25px;
  margin-left: 27px;
  margin-top: 2em;
  align-content: center;
  font-size: 15px;
  text-align: justify;
}
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

/*
 * Padding for leaf nodes.
 * Leaf nodes need to have padding so as to align with other non-leaf nodes
 * under the same parent.
 *! */
.example-tree div[role=group] > .mat-tree-node {
  padding-left: 40px;
}


.row{
  margin-left: 10px;
}
button{
  margin-left: 20px;
}
/*
 * This padding sets alignment of the nested nodes.
 */
.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}
.general1, .generalcalcul{
  margin-left: 20px;
}
.forarraycolumn, .forarrayline{
  margin-left: 20px;
}
.table-hover{
  width: 100%;
  white-space: nowrap;
}
.vertical-align {
  vertical-align: middle;
}
.fehler{
  color: red;
}
