
.middlepane {
  width: 80%;
  height: 100vh;
  margin-left: 20%;
  margin-top: -43%;
}
p{
  font-size: 20px;
  margin-left: 5%;
}
.example-tree-invisible {
  display: none;
}
p {
  letter-spacing: 1px;
  word-spacing: 0.50em;
  line-height: 25px;
  margin-left: 27px;
  margin-top: 2em;
  align-content: center;
  font-size: 15px;
  text-align: justify;
  margin-right: 5%;
}
