
<h4>Bitte geben Sie die neuen Daten ein</h4>
  <div class="container">
    <form class="ui container form" appearance="fill" [formGroup]="formDiagram">
      <br><br>
      <table>
        <tr>
          <td>
            Titel des Diagramms*
          </td>

          <td>
            <mat-form-field appearance="fill">
              <mat-label>Titel eingeben</mat-label>
              <input matInput formControlName="title" [(ngModel)]="thetitel">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            Diagrammtyp*
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Typ Auswahl</mat-label>
              <mat-select formControlName="diagramType" [(ngModel)]="thediagramtyp">
                <mat-option *ngFor="let typ of DiagramTyp" [value]="typ">{{typ}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            Path
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Name der Abfrage</mat-label>
              <input matInput formControlName="queryPath" [value]="thepath"
                     readonly>
              <mat-hint>Nicht auszufüllen!</mat-hint>
            </mat-form-field>
          </td>
        </tr>
      </table>
<br><br>
      <button class="BtnSubmit" mat-raised-button color="warn" (click)="onSubmit()">Daten ändern</button>
      <button class="BtnCancel" mat-raised-button color="primary" (click)="ClickClose()">Abbrechen</button>
      <p class="fehler"><strong>{{errorMessage}}</strong></p>
    </form>
  </div>
