

  <div class="container">
    <form class="ui container form" appearance="fill" [formGroup]="formDiagram">
      <br><br><br>
      <table>
        <tr>
          <td>
            Diagrammtyp*
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Typ Auswahl</mat-label>
              <mat-select formControlName="diagramType" [(ngModel)]="thediagramtyp">
                <mat-option *ngFor="let typ of DiagramTyp" [value]="typ">{{typ}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            Titel des Diagramms*
          </td>
          <td>
            <mat-form-field appearance="fill">
              <mat-label>Titel eingeben</mat-label>
              <input matInput formControlName="title" [(ngModel)]="thetitel">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <div formArrayName="selectedLines"
           *ngFor="let line of alltableDatasLines; let i = index; trackBy:trackByFn">
        <div [formGroupName]="i">
          <h3> Ausgewählte Zeile Konfiguration {{i}}</h3>

          <table class="forarrayline">
            <tr>
              <td>
                Name der Zeile:
              </td>
              <td>
                <mat-form-field appearance="outline">
                  <mat-label>Name der Zeile</mat-label>
                  <input matInput
                         formControlName="lineName"
                         autocomplete="off">
                  <mat-hint>Nicht ausfüllen!</mat-hint>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                Farbe der Zeile*
              </td>
              <td>
                <mat-form-field appearance="fill">
                  <mat-label>Farbe Auswahl</mat-label>
                  <mat-select formControlName="lineColor">
                    <mat-option *ngFor="let color of colors" [value]="color">{{color}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <br/>


      <br><br>


    </form>
    <button mat-raised-button color="warn" >Daten ändern</button>
    <button mat-raised-button color="primary" >Abbrechen</button>
    <p class="fehler"><strong>{{errorMessage}}</strong></p>
  </div>
